@import 'tailwindcss';
@plugin "daisyui" {
  themes: pastel --default, dracula --prefersdark;
}

.reset-input-color {
  &::-webkit-color-swatch,
  &::-webkit-color-swatch-wrapper {
    border: none;
    padding: 0;
  }
}
